<div ng-click="setFocus = true">
  <div class="tp-tagger__errortexts" ng-show="hasError">
    <span ng-show="uniqueError">{{options.errors.notUniqueTag}}</span>
    <span ng-show="maxTagLengthError">{{options.errors.maxTagLength}}</span>
  </div>
  <div class="tp-tagger">
    <div class="tp-tagger__tagcontainer">
      <div class="tp-tagger__tags">
        <span class="tp-tagger__tag" ng-repeat="tag in selectedTags track by $index">{{ tag }}<span class="tp-tagger__tag--delete" ng-click="deleteTag($index)"><i class="fa fa-times"></i></span></span>
        <input tp-tagger-input ng-change="changeInput()" type="text" class="input input-text tp-tagger__inputfield" placeholder="{{options.placeholderText}}" ng-focus="hasFocus = true" ng-blur="hasFocus = false" tp-focus="setFocus" ng-model="searchTag" autocomplete="off"/>
      </div>
    </div>
    <div class="tp-tagger__buttoncontainer">
      <button class="btn btn-primary tp-tagger__addbutton" ng-click="addTag(searchTag)" ng-if="options.addBtnActive">
        <i class="fa fa-plus"></i>
      </button>
      <button class="btn btn-primary tp-tagger__searchbutton" ng-click="search(options.searchFunction)" ng-if="options.searchFunction" ng-disabled="searching" >
        <span ng-hide="searching">
          <i class="fa fa-search"></i>
        </span>
        <span ng-show="searching">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </button>
    </div>
  </div>
  <div tp-tagger-popup></div>
</div>
