<div ng-click="setFocus = true">
  <div class="tp-tagger-error-texts" ng-show="hasError">
    <span ng-show="uniqueError">{{options.errors.notUniqueTag}}</span>
    <span ng-show="maxTagLengthError">{{options.errors.maxTagLength}}</span>
  </div>
  <div class="tp-tagger">
        <div class="tp-tags-wrapper">
          <md-chips ng-model="options.selectedTags"
          placeholder="{{options.placeholderText}}"
          md-max-chips="{{maxChips}}"
          md-require-match="true" 
          md-transform-chip="addTag($chip)"
          md-add-on-blur="true"
          md-separator-keys="separatorKeys">
            <md-chip-template>
              {{$chip.order}}. {{ $chip.name }}
            </md-chip-template>
          </md-chips>
        </div>
    <div class="tp-btn-wrapper">
      <md-button><i class="fa fa-plus"></i></md-button>
        <md-button class="btn-search" ng-click="search(options.searchFunction)" ng-if="options.searchFunction" ng-disabled="searching">        
          <span ng-hide="searching">
            <i class="fa fa-search"></i>
          </span>
          <span ng-show="searching">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
        </md-button>
    </div>
  </div>
  <div tp-tagger-popup></div>
</div>
